# Configurações do Banco de Dados
DATABASE=masterbot
DATABASE_USERNAME=root
DATABASE_PASSWORD=sua_senha
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_DIALECT=mysql

# Configurações do MySQL (Docker/Local)
MYSQL_DATABASE=masterbot
MYSQL_ROOT_PASSWORD=sua_senha
CONTAINER_NAME=masterbot_db

# Segurança e Sessão
JWT_SECRET=sua_chave_secreta_aqui
CORS_ORIGIN=http://localhost:3000
ADMIN_EMAIL=admin@exemplo.com
OWNER_SESSION_NAME=BD_BOT
LICENSE_SALT=sua_frase_secreta_para_licencas

# APIs Externas
GEMINI_API_KEY=sua_chave_gemini_aqui
REMOVE_BG_API_KEY=sua_chave_remove_bg_aqui
